/* inicio */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f4f7f8;
}

.shadowHover:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25) !important;
    cursor: pointer;
}

.enlace {
    color: inherit;
}

.enlace:hover {
    text-decoration: none;
    color: inherit;
}


.navegador {
    height: calc(38px + 1.5rem*2);
}

.buscadorInicio {
    height: 150px;
    width: 100%;
}

.buscadorInicio form {
    border-radius: 50px;
}



/* LOGIN*/


.overlayLogin, .overlaySingup {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    display: none;
    z-index: 1;
    transition: .5s;
}

.overlayLogin.active, .overlaySingup.active {
    display: block !important;
    transition: .5s;
}

.loginDiv {
    width: 660px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 2;
    transition: .5s;
}

.singupDiv {
    width: 767px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 2;
    transition: .5s;
}



.loginDiv.active, .singupDiv.active {
    right: 0 !important;
    transition: .5s;
}


@media (max-width: 767px) {
    .loginDiv, .singupDiv {
        width: 100%;
    }
}

/*
.btn-primary, .bg-primary {
    background-color: #FF385C !important;
    border-color: #FF385C;
}
*/

.textoInicio {
    font-size: 35px;
}

/*---Div imagenes
*/
.alt1 {
    height: 300px;

}

.alt2 {
    height: 500px;
}

/*-----------
Buscador
-----------*/
.divBusqueda {
    border-radius: 20px;
}

.imagenBusqueda {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;

}

.cuerpoBusqueda h1 {
    font-family: Cormorant Garamond, sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 30px;
    color: #000;
}

.cuerpoBusqueda h2 {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 30px;
}

.cuerpoBusqueda small {
    margin-bottom: 0;
    line-height: 30px;
}


.divMenu {
    border-radius: 30px;
    height: 50px;
}


.botonesMenu1 {
    text-align: center;
    color: #fff !important;
    font-size: 16px;
}


.nombreMenuBuscador {
    height: 100%;
    width: calc(100% - 104px);
}

.iconosMenuBuscador {
    height: 100%;
    width: 104px;
    position: relative;
    padding: 4px 0;
}

.iconosMenuBuscador a {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    float: left;
}


/*-----
Restaurante
--------*/
.imagenPrincipal {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.nombreRestaurante {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 40px;
}

@media (max-width: 767px) {
    .buscadorInicio {
        height: auto;
        width: 100%;
        background-color: #FF385C;
    }

    .buscadorInicio form {
        border-radius: 0;
    }
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}
